//main-foooter Start

//main-footer_box Start
.main-footer_box{
    width: 1170px;
    height: 508.81px;
    top: 3480.09px;
    left: 215px;
background-color: #F8F8F8;
position: absolute;
}

.main-footer_box h2{
position: absolute;
width: 638px;
height: 60px;
top: 50px;
left: 300px;
font-size: 36px;
}
.main-footer_box p{
    position: absolute;
    top: 150px;
    left: 285px;
    font-size: 18.5px;
width: 600px;    
text-align: center;
list-style:32px;

}
.main-foooter-box_input{
position: absolute;
border: 2px solid #0CA941;
background-color: white;
width:492px;
height: 82px;
left: 300px;
top: 300px;
border-radius: 10px;
font-size: 22px;
}
.main-footer-button{
position: absolute;
width: 223.42px;
height: 81.89px;
border-radius: 10px;
left: 650px;
top: 300px;
background-color: #0CA941;

}
.main-footer-button a{
text-decoration: none;
    position: absolute;
font-size: 22px;
left: 50px;
top: 30px;
color: #ffffff;

}
.main-footer-button:hover{
    position: absolute;
   
    background-color: #01ba3f;
    
    }
//main-footer_box And




//main-footer-hobby Start
.main-footer-hobby img{
position: absolute;
width: 145.04px;
height: 34.31px;
top: 4117.7px;
left: 214.91px;
}

.main-footer-hobby p{
position: absolute;
top: 4190px;
left: 214.91px;
font-size: 18px;
line-height: 32px;
width: 290px;

}
//main-footer-nav Start
.main-footer-nav li{
    display: inline-block;
    margin-right: 40px;

}

.main-footer-nav img{
position: absolute;
font-size: 100px;
width: 18px;
height: 15px;

}

.main-footer-nav img:hover{
    position: absolute;
    width: 38px;
    height: 35px;
    background-color: #0CA941;
border-radius: 5px;    
}

.main-footer-nav{
position: absolute;
top: 4350px;
left: 214.91px;


}

//main-footer-nav And


//main-footer-hobby And



//main-footer-Company Start
.main-footer-Company a{
    text-decoration: none; 
    color: #000;
font-size: 18px;
position: absolute;
top: 4190px;
left: 600px;

}
.a:hover{
    color: #ff0000;
    font-size: 18px;
   
}

.main-footer-Company-h2{
color: #000;
font-size: 18px;
top: 4125px;
left: 600px;
position:absolute;


}

.a1{
position: absolute;
line-height: 90px;
}
.a1:hover{
    color: #ff0000;
    font-size: 18px;
   
}

.a2{
position: absolute;
line-height: 160px;
}
.a2:hover{
    color: #ff0000;
    font-size: 18px;
   
}

.a3{
position: absolute;
line-height: 230px;
}
.a3:hover{
    color: #ff0000;
    font-size: 18px;
   
}

.a4{
position: absolute;
line-height: 290px;
}
.a4:hover{
    color: #ff0000;
    font-size: 18px;
   
}

.a5{
    position: absolute;
    line-height: 350px;
    }
    .a5:hover{
        color: #ff0000;
     
       
    }

//main-footer-Company And


//main-footer-Support Start
.main-footer-Support a{
    text-decoration: none; 
    color: #000;
font-size: 18px;
position: absolute;
top: 4190px;
left: 850px;

}
.main-footer-Support a:hover{
    color: #ff0000;
    font-size: 18px;
   
}

.main-footer-Support h2{
color: #000;
font-size: 18px;
top: 4125px;
left: 850px;
position:absolute;


}

.a11{
position: absolute;
line-height: 90px;
}

.a12{
position: absolute;
line-height: 160px;
}

.a13{
position: absolute;
line-height: 230px;
}

.a14{
position: absolute;
line-height: 290px;
}

.a15{
    position: absolute;
    line-height: 350px;
    }
//main-footer-Support And


//main-footer-Contact Start
.main-footer-Contact a{
    text-decoration: none; 
    color: #000;
font-size: 18px;
position: absolute;
top: 4190px;
left: 1100px;

}

.main-footer-Contact a:hover{
    color: #ff0000;
    font-size: 18px;
   
}

 .h2{
color: #000;
font-size: 18px;
top: 4125px;
left: 1100px;
position:absolute;


}

.a21{
position: absolute;
line-height: 90px;
}

.h21{
position: absolute;
top: 4270px;
left: 1100px;
font-size: 18px;
}


.a22{
position: absolute;
line-height: 230px;
}

.h22{
position: absolute;
top: 4340px;
left: 1100px;
font-size: 18px;
}

.a23{
    position: absolute;
    line-height: 370px;
    }

//main-footer-Contact And




// main-footer-the_and  START


.main-footer-the_and-nav li{
    display: inline-block;
    margin-right:240px;
position: relative;
}

.main-footer-the_and-nav img{
position: absolute;


}


.main-footer-the_and-nav{
position: absolute;
top: 4500px;
left: 214.91px;
width: 1500px;

}



.zafar{
    position: absolute;
    width:1167;
    height: 200px;
    background-color:#BF7949;
    top: 5000px;
    left: 214.91px;
    }
// ain-footer-the_and  AND


// main-foooter And



