// main-header Start
.main-headr-img{
position: absolute;
width: 134.26px;
height: 229.52px;
left: 32.93px;

}


.main-headr-img1{
    position: absolute;
    width: 145.04px;
    height: 34.31px;
    top: 48.15px;
    left: 214.91px;
    

}






// main-header And





// Start

// And