//main-hero Start

// main-hero-text Start
.main-hero_text img{
position: absolute;
width: 616.56px;
height: 216.68px;
top: 268.27px;
left: 215px;

}

.main-hero_text p{
position: absolute;
width: 534.47px;
height: 58.86px;
top: 523.73px;
left: 215px;
font-size: 18px;

}





// main-hero-text And





//main-hero-img Start
.main-hero-img1{
position: absolute;
width: 105.8px;
height: 79.24px;
top: 620px;
left: 540px;

}

.main-hero-img3{
position: absolute;
width: 600px;
height: 700px;
top: 169.79px;
left: 861.4px;


}

.main-hero-img2{
position: absolute;
width: 168.87px;
height: 247.94px;
top: 690px;
left: 700px;

}

.main-hero-img4{
position: absolute;
width:1291.87px;
height:350.4px;
top: 985.75px;
left: 215px;
border-radius: 28px;





}


//main-hero-img And




// main-hero_1-bO'lim Start
.main-hero_1-blim-img{
position: absolute;
width: 637.75px;
height: 527.35px;
top: 1362.61px;
left: 350px;

}
.main-hero_1-blim h2{
position: absolute;
width: 353px;
top:1411.74px;
left:1050px;
font-size:36px;

}
.main-hero_1-blim p{
position: absolute;
top:1500px;
left:1050px;
font-size: 18px;
width: 420px;
line-height: 32px;
}

.main-hero-1-blim_button a {
    text-decoration: none;
    color: rgb(0, 0, 0);   
top: 20px;
left: 50px;
position: absolute;
font-size: 18px;
}
.main-hero-1-blim_button{
position: absolute;
width: 179.78px;
height:67.11px;
top:1650px;
left:1050px;
border-radius:100%;
background-color: rgb(252, 253, 253);
border: 2px solid #0CA941;

}
.main-hero-1-blim_button a:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);   
top: 25px;
left: 45px;
position: absolute;
font-size: 25px;
}
.main-hero-1-blim_button:hover{
position: absolute;
width: 200px;
height:80px;
border-radius:100%;


}

.main-hero_1-blim-img1{
position: absolute;
top:1675px;
left:1300px;


}


// main-hero_1-bO'lim And




//main-hero_2-blim Start
.main-hero-2-blim-img{
position: absolute;
width: 606.42px;
height: 559.68px;
top: 1978.77px;
left: 790.44px;

}
.main-hero_2-blim h2{
position: absolute;
width: 355px;
height: 44.29px;
top: 2040.37px;
left: 226.43px;
font-size: 36px;

}
.main-hero-2-blim-p{
position: absolute;
font-size: 18px;
width: 393px;
top: 2115.04px;
left: 226.43px;
line-height: 32px;

}
.main-hero-2-blim-p1{
    position: absolute;
    font-size: 18px;
    width: 393px;
    top: 2280px;
    left: 226.43px;
    line-height: 32px;
    
    }
   
   
    .main-hero-2-blim_button a {
        text-decoration: none;
        color: rgb(0, 0, 0);   
    top: 20px;
    left: 50px;
    position: absolute;
    font-size: 18px;
    }
    .main-hero-2-blim_button{
    position: absolute;
    width: 179.78px;
    height:67.11px;
    top: 2400px;
    left: 226.43px;
    border-radius:100%;
    background-color: rgb(252, 253, 253);
    border: 2px solid #0CA941;
    
    }
    .main-hero-2-blim_button a:hover {
        text-decoration: none;
        color: rgb(0, 0, 0);   
    top: 25px;
    left: 45px;
    position: absolute;
    font-size: 25px;
    }
    .main-hero-2-blim_button:hover{
    position: absolute;
    width: 200px;
    height:80px;
    border-radius:100%;
    
    
    }
    .main-hero-2-blim-img1{
position: absolute;
top: 2425px;
left: 500px;

    }
//main-hero_2-blim And




//main-hero_3-bO'lim Start
.main-hero_3-blim-img{
position: absolute;
width: 1169.92px;
height: 637.34px;
top: 2708px;
left: 215px;
}
.main-hero_3-blim_button{
position: absolute;
border: 2px solid black;
width: 129px;
height: 44px;
top: 3272px;
border-radius: 10px;
left: 410px;
background-color: white;
}
.main-hero_3-blim_button a {
    text-decoration: none;
    color: rgb(0, 0, 0);   
top: 10px;
left: 15px;
position: absolute;
font-size: 18px;


}
.main-hero_3-blim_button:hover{
    position: absolute;
    background-color: rgb(0, 0, 0);
    }
    .main-hero_3-blim_button a:hover {
        color: rgb(255, 255, 255);  
    position: absolute;
    
    
    }



.main-hero_3-blim_button1{
    position: absolute;
    border: 2px solid black;
    width: 129px;
    height: 44px;
    top: 3272px;
    border-radius: 10px;
    left: 815px;
    background-color: white;
    }
    .main-hero_3-blim_button1 a {
        text-decoration: none;
        color: rgb(0, 0, 0);   
    top: 10px;
    left: 15px;
    position: absolute;
    font-size: 18px;
    
    
    }
    .main-hero_3-blim_button1:hover{
        position: absolute;
        background-color: rgb(5, 5, 5);
        }
    .main-hero_3-blim_button1 a:hover {
            color: rgb(255, 255, 255);   
      
        
        }



.main-hero_3-blim_button2{
    position: absolute;
    border: 2px solid black;
    width: 129px;
    height: 44px;
    top: 3272px;
    border-radius: 10px;
    left: 1220px;
    background-color: white;
    }
    .main-hero_3-blim_button2 a {
        text-decoration: none;
        color: rgb(0, 0, 0);   
    top: 10px;
    left: 15px;
    position: absolute;
    font-size: 18px;
    
    
    }
.main-hero_3-blim_button2:hover{
    position: absolute;
    background-color: rgb(0, 0, 0);
    }
    .main-hero_3-blim_button2 a:hover {
        color: rgb(255, 255, 255);  
    position: absolute;
    
    
    }

//main-hero_3-bO'lim And



//main-hero And



